@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <div class="hero-overlay">
        <h1 class="hero-title">Welcome to My Photography Journey</h1>
        <p class="hero-subtitle">Capturing moments, one frame at a time.</p>
    </div>
</div>
<div class="container">
    <p class="text-body">
        Photography has always been a part of my life, mostly for the simple joy of capturing moments.
        I use my own phone and a small film camera, taking pictures of
        things that bring me happiness or that I want to remember.
        It's more about the memories than the artistic composition right now.
        Whether it's a candid shot of friends, family gatherings, or just a beautiful scene I come across,
        these images allow me to relive those moments later.
        <br/>
        At this point, my photography is not about high production or creating polished works of art—it's more about documenting life as it happens.
        I enjoy the spontaneity of it and find peace in knowing that these photos will preserve the essence of those fleeting times.
        I often don't worry about the technicalities, such as lighting or framing, because the value is in the memories rather than in perfection.
    </p>
</div>
<div class="section-1">
    <div class="block">
        <div class="image-box">
            <img src="~/img/img2.JPG" alt="Image 1">
        </div>
        <div class="text">Sunset at Park</div>
    </div>
    <div class="block">
        <div class="image-box">
            <img src="~/img/img3.JPG" alt="Image 2">
        </div>
        <div class="text">Snowy Day</div>
    </div>
    <div class="block">
        <div class="image-box">
            <img src="~/img/img4.JPG" alt="Image 3">
        </div>
        <div class="text">Rainbow on a cloudy day</div>
    </div>
</div>